body {
    background: rgba(236, 226, 236, 0.78)
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(11, 24, 220, 0.44);
    padding: 5%;
    margin: 10%;
    border-radius: 7px;
}

.titletitle {
    color: rgba(0, 0, 0, 0.75);
}

.first-input {
    margin: 10px;
    border-radius: 2px;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
}

.second-input {
    margin: 10px;
    border-radius: 2px;
    padding: 7px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}

.stein {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding: 4px;
    text-transform: capitalize;
}

.btn {
    border: 0;
    border-radius: 3px;
    padding: 6px 7px 6px 7px;
    background: rgba(204, 91, 126, 0.5);
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: .37s;
}

.btn:hover {
    background: rgba(204, 91, 126, 0.99);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}